.image {
  width: 100%;
  border: 5px solid var(--color-primary);
  border-radius: 50%;
  margin-bottom: 5px;
}

.info {
  font-size: calc(var(--size-left-col-width) * 0.085);

  &>* {
    margin-bottom: 0.25rem;
  }
}

.name {
  margin-top: 0;
  margin-bottom: 5px;
}

.paragraph {
  font-size: var(--text-size-lead-text);
  margin-top: 0;
  line-height: 1.5em;
}