@use 'modern-normalize';

:root {
  --color-primary: #223f99;
  --color-headings: #231f20;
  --color-text: #231f20;
  --color-text-light: #888;
  --text-size-multiplier: 1;
  --text-size-heading-main: calc(30px * var(--text-size-multiplier));
  --text-size-heading-secondary: calc(18px * var(--text-size-multiplier));
  --text-size-lead-text: calc(16px * var(--text-size-multiplier));
  --text-size-body: calc(12px * var(--text-size-multiplier));
  --text-font-heading: neue-haas-grotesk-display, sans-serif;
  --text-font-body: neue-haas-grotesk-text, sans-serif;
  --size-section-margin: 60px;
  --size-item-margin: 40px;
  --size-left-col-width: 140px;
}

// For screen display
body {
  font-family: var(--text-font-body);
  color: var(--color-text);
  font-size: var(--text-size-body);
}

* {
  margin-top: 0;
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--text-font-heading);
  color: var(--color-headings);
  text-wrap: balance;
}

h1 {
  font-size: var(--text-size-heading-main);
}

h2,
h3 {
  font-size: var(--text-size-heading-secondary);
  margin-bottom: 5px;
}

ul {
  padding-left: 0.95rem;
}

li {
  margin-bottom: 1.75px;
}

.section,
.header {
  display: flex;
  gap: 20px;
  margin-bottom: 2rem;
}

.section {
  align-items: baseline;
}

.left-col {
  width: var(--size-left-col-width);
  flex-shrink: 0;

  * {
    color: var(--color-primary);
  }
}

.list-heading {
  margin-bottom: 5px;
}

.text-muted {
  color: var(--color-text-light);
}

@media screen {
  body {
    width: 8.5in;
    margin: 0 auto;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    background: white;
    position: relative;
    padding: 1in;
  }

  .page-break {
    border-top: 1px dashed #666;
  }
}

// For print
@media print {
  .page-break {
    page-break-before: always;
  }

  @page {
    size: letter;
    margin: 1in;
  }

  body {
    width: auto;
    height: auto;
    margin: 0;
    box-shadow: none;
    background: none;
    position: static;
  }
}